/* Try different box model properties below */
.pages__page {
  border-radius: 4px;
  background: #fff;
  padding: 2px;
  margin: 5px 2px;
}

.countries li {
  padding: 10px;
  margin-bottom: 10px;
}
