/* Try different box model properties below */
.site-header :last-child {
  color: #fff;
}

.site-header p {
  margin-bottom: 0;
}

.site-wrapper :last-child p {
  font-size: 12px;
  text-align: center;
}

.messages .message:last-child {
  box-shadow: 4px 4px 0 #dba944;
}
